mixin video-frame
 .video-frame(class!=attributes.class)
   video.video-frame__viewer(src='video/landscape.mp4', autoplay='' poster="images/video_background.jpg")
   .video-frame__controls
     button.video-frame__toggle
      img.video-frame__play-image(src="images/play.svg", alt="fulscreen-image" width="13" height="13")
      img.video-frame__pause-image(src="images/pause.svg", alt="fulscreen-image" width="13" height="13")
     .video-frame__progress
       .video-frame__filled
     button.video-frame__fullscreen
      img(src="images/expand.svg", alt="fulscreen-image" width="22" height="22")