.video-frame {
    max-width: 594px;
    height: 336px;
    position: relative;
    overflow: hidden;

    &__viewer {
        width: 100%;
        height: 100%;
        border-radius: 6px;
        overflow: hidden;
    }

    &__toggle {
        background: transparent;
        border: none;
        color: white;
        outline: none;
        padding: 0;
        cursor: pointer;
        max-width: 50px;
        margin: 0;
        padding-left: 20px;
    }

    &__controls {
        display: flex;
        position: absolute;
        bottom: 1px;
        width: 100%;
        transition: all 0.3s ease;
        flex-wrap: wrap;
        height: 48px;
        align-items: center;
    }


    &__progress {
        flex: 10;
        position: relative;
        display: flex;
        height: 5px;
        background-color: #e5e5e5;
        cursor: pointer;
        border-radius: 4px;
        margin: 0 20px;
    }

    &__filled {
        background-color: #e75735;
        border-radius: 4px;
    }


    &__fullscreen {
        width: 48px;
        height: 48px;
        background: transparent;
        background-color: #e75735;
        border: none;
        outline: none;
        border-bottom-right-radius: 4px;
        cursor: pointer;
    }

    &__pause-image {
        display: none;
    }

    &__play-image {
        display: block;
    }

}