mixin arrow-buttons(mix, disabledLeft, disabledRight)
 div.arrow-buttons(class= mix)
  button.arrow-buttons__item(class= disabledLeft)
   span(class="arrow-buttons__pointer arrow-buttons__pointer_left")
  button.arrow-buttons__item(class= disabledRight)
   span(class="arrow-buttons__pointer arrow-buttons__pointer_right")


