.location {
    display: flex;
    flex-direction: column;
    width: 593px;

    &_width_short {
        width: 420px;
    }
  

    &__map {
        height: 204px;
        z-index: 1;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }

    &__menu {
        height: 69px;
        background-color: #e75735;
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
    }

    &__info {
        display: flex;
        align-items: center;
    }

    &__header {
        color: #ffffff;
        font-size: 30px;
        font-family: 'Lato';
        font-weight: 300;
        margin: 0 25px 6px 28px;
    }

    &__address {
        width: 139px;
        color: #ffffff;
        font-family: 'Lato';
        font-weight: 400;
        font-size: 13px;
        text-transform: uppercase;
        letter-spacing: 0.63px;
    }

    &__mylocation-button {
        border: none;
        background: transparent;
        background-image: url(images/target.png);
        width: 27px;
        height: 26px;
    }

    &__pin-button {
        border: none;
        background: transparent;
        background-image: url(images/pin.png);
        width: 18px;
        height: 24px;
        background-repeat: no-repeat;
        margin: 0 25px 0 22px;
    }
}

.gm-style-cc {
    display: none !important;
}

.gm-style a[href^="https://maps.google.com/maps"] {
    display: none !important;
}