mixin location
 .location(class!=attributes.class)
  .location__map(id="map")
  .location__menu
   .location__info
    h2.location__header Meet us!
    .location__address 1259  California ST San Francisco, CA
   .location__buttons
    button.location__mylocation-button
    button.location__pin-button

