.messaging {
    height: 428px;
    width: 288px;

    &__header {
        height: 81px;
        background-color: #4eb7a8;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }

    &__title {
        font-family: "Source Sans Pro";
        font-weight: 300;
        font-size: 34px;
        color: white;
        letter-spacing: -1.02px;
    }

    &__photo {
        width: 84px;
        height: 84px;
        border-radius: 50%;
        border: 4px solid #e5e5e5;
        position: absolute;
        top: 70px;
    }


    &__block {
        background-color: #46ab9d;
        height: 34px;
    }

    &__body {
        background-color: #f2f2f2;
        height: 313px;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
    }

    &__social {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        width: 236px;
        margin: auto;
        padding: 22px 0 16px 0;
    }


    &__chat-button {
        border: none;
        background: url(images/chat.png) transparent no-repeat;
        width: 25px;
        height: 25px;
        cursor: pointer;
    }

    &__camera-button {
        border: none;
        background: url(images/camera.png) transparent no-repeat;
        width: 25px;
        height: 25px;
        cursor: pointer;
    }

    &__inner {
        width: 242px;
        margin: auto;
    }

    &__bubble {
        background-color: #ffffff;
        width: 100%;
        height: 70px;
        border-radius: 6px;
        font-size: 13px;
        color: #868686;
        font-family: 'Lato';
        font-weight: normal;
        letter-spacing: 0.63px;
        position: relative;
        display: flex;
        align-items: center;
        margin-bottom: 18px;

        &::before {
            content: '';
            background-color: inherit;
            height: 15px;
            width: 15px;
            position: absolute;
            top: -4px;
            left: 110px;
            transform: rotate(45deg);
            border-radius: 1px
        }
    }

    &__text {
        margin: 10px 20px;
    }

    &__input {
        height: 55px;
        width: 83%;
        resize: none;
        border-radius: 6px;
        background-color: #e5e5e5;
        border: 3px solid #ffffff;
        font-family: 'Lato';
        font-size: 13px;
        letter-spacing: 0.63px;
        color: #777777;
        padding: 13px 18px;
        margin-bottom: 11px;
        letter-spacing: 0.63px;
    }

}