include ../news/news.pug
include ../standart-button/standart-button.pug

section.portfolio.page
 .portfolio__inner
  .portfolio__items
   h2.portfolio__title.fade-left Our works
   +news("images/first_project.jpg", "Online shop", "January  2019", "Unio provided online store development services for a fashion retailer to support their city center store and boost sales. Having the website as a first impression of the company for the users.")(class="news_size_xl portfolio__news fade-bottom")
   +news("images/second_project.jpg", "HR Agency", "February  2019", "This agency looked for a rock star dev team to create complex web and mobile solutions from scratch.")(class="fade-left")
   +news("images/third_project.jpg", "Online education", "March  2019", "Simplifying school-­to-­home communications started with transforming an everyday tool — the smartphone — into a hub of updates and resources.")(class="fade-bottom")
   +news("images/fourth_project.jpg", "Travel company", "April  2019", "For a travel company, website design can be the determining factor in whether a visitor trusts recommendations and information.")(class="fade-bottom")
   +standart-button("all projects", "button")(class="standart-button_width_long standart-button_color_green fade-bottom portfolio__standart-button")