.portfolio {
    background-image: linear-gradient(to top, #b2b2b2, #bbbbbb, #c5c5c5, #cecece, #d8d8d8, #dcdcdc, #e1e1e1, #e5e5e5, #e5e5e5, #e5e5e5, #e5e5e5, #e5e5e5);
    height: 92vh;

    &__inner {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__items {
        display: grid;
        grid-gap: 20px;
        grid: repeat(3, 212px) / repeat(3, 288px);
        grid-auto-flow: row;
        margin: auto;
        grid-template-rows: 1fr 1fr 80px;
    }

    &__title {
        font-size: 46px;
        font-family: "Lato";
        font-weight: 600;
        color: #4eb7a8;
        text-transform: uppercase;
        margin: 50px 0 30px 0;
    }

    &__news {
        grid-column: 2/4;
        grid-row: 1;
    }

    &__standart-button {
        grid-column: 2/4;
        grid-row: 3;
        align-self: flex-start;
    }
}