mixin step-slider
 .step-slider(class!=attributes.class)
  input.step-slider__input(type='range', min='1', max='5', steps='1', value='1')
  ul.step-slider__ranges
   li.step-slider__range 0
   li.step-slider__range 25
   li.step-slider__range 50
   li.step-slider__range 75
   li.step-slider__range 100
