mixin navigation
 section.navigation(class!=attributes.class)
  .navigation__inner
   img.navigation__logo(src="images/logo.svg", alt="Logo" height="35" width="35")
   p.navigation__logo-text Unio
  .navigation__items
   a.navigation__item(href="") Home
   a.navigation__item(href="") About us
   a.navigation__item(href="") Portfolio
   a.navigation__item(href="") Contacts

