mixin donut-chart(firstPiece, secondPiece, thirdPiece, fourthPiece)
 svg.donut-chart(width='105px', height='105px', viewBox='0 0 42 42' class!=attributes.class)
   circle.donut-chart__hole(cx='21', cy='21', r='15.91549430918954', fill='#fff')
   circle.donut-chart__ring(cx='21', cy='21', r='15.91549430918954', fill='transparent', stroke='#d2d3d4', stroke-width='7')
   circle.donut-chart__segment(data-per= firstPiece, cx='21', cy='21', r='15.91549430918954', fill='transparent', stroke='#e75735', stroke-width='7',  stroke-dasharray='40 60', stroke-dashoffset='25')
   circle.donut-chart__segment(data-per= secondPiece, cx='21', cy='21', r='15.91549430918954', fill='transparent', stroke='#4eb7a8', stroke-width='7',  stroke-dasharray='20 80', stroke-dashoffset='85')
   circle.donut-chart__segment(data-per= thirdPiece, cx='21', cy='21', r='15.91549430918954', fill='transparent', stroke='#e5e5e5', stroke-width='7',  stroke-dasharray='30 70', stroke-dashoffset='65')
   circle.donut-chart__segment(data-per= fourthPiece, cx='21', cy='21', r='15.91549430918954', fill='transparent', stroke='#747474', stroke-width='7',  stroke-dasharray='10 90', stroke-dashoffset='35')
