include ../standart-button/standart-button.pug

header.home.page
 .home__inner
  .home__intro.fade-left
   h1.home__title We help to achieve goals
   p.home__text Top rated web and mobile app development company. Creating innovative products and exciting experiences around the world.
   +standart-button("Get in touch", "button")(class="standart-button_color_green standart-button_size_xl")
  img.home__image.fade-bottom(src="images/home.png" alt="")
  a.home__link(href="") Ui Kit