include ../navigation/navigation.pug
include ../standart-button/standart-button.pug

section.home
 +navigation
 .home__inner
  .home__intro
   h1.home__title We help to achieve goals
   p.home__text Top rated web and mobile app development company. Creating innovative products and exciting experiences around the world.
   +standart-button("Get in touch", "button")(class="standart-button_color_green standart-button_size_xl")
  img.home__image(src="images/home.png" alt="" width="750")