include ../navigation/navigation.pug

section.home
 +navigation
 .home__inner
  .home__intro
   h1.home__title We help to achieve goals
   p.home__text Top rated web and mobile app development company