mixin drop-down(title)
 .drop-down(class!=attributes.class)
  .drop-down__content
    ul.drop-down__items
     li.drop-down__item 
      a.drop-down__link(href='#') This is option 1
     li.drop-down__item 
      a.drop-down__link(href='#') This is option 2
     li.drop-down__item 
      a.drop-down__link(href='#') This is option 3
     li.drop-down__item 
      a.drop-down__link(href='#') This is option 4
  .drop-down__title= title
   .drop-down__button
    .drop-down__arrow