mixin search
 .search(class!=attributes.class)
   input.search__term(type='text', placeholder='Search')
   button.search__button(type='submit')
     img.search__image(src="images/search.png")
   .search__error I’ve not found what I’m looking for...
