.toggle {
    position: relative;
    width: 90px;
    display: flex;
    justify-content: center;

    &__checkbox {
        display: none;
    }

    &__label {
        display: block;
        overflow: hidden;
        cursor: pointer;
        border-radius: 20px;
        width: 59px;
        height: 24px;
    }

    &__inner {
        display: block;
        width: 200%;
        margin-left: -100%;
        transition: margin 0.3s ease-in 0s;

        &:before,
        &:after {
            display: block;
            float: left;
            width: 50%;
            height: 30px;
            padding: 0;
            line-height: 24px;
            font-size: 12px;
            color: #fff;
            font-family: 'Lato';
            font-weight: normal;
            box-sizing: border-box;
            letter-spacing: 0.6px;
        }

        &:before {
            content: "ON";
            padding-right: 20px;
            background-color: #4eb7a8;
            color: #fff;
        }

        &:after {
            content: "OFF";
            padding-right: 7px;
            background-color: #e5e5e5;
            color: #fff;
            text-align: right;
        }
    }

    &__switch {
        display: block;
        width: 18px;
        height: 18px;
        background: #fff;
        position: absolute;
        top: 11%;
        bottom: 0;
        right: 52px;
        border-radius: 50%;
        transition: all 0.3s ease-in 0s;
    }

    &__checkbox:checked+&__label &__inner {
        margin-left: 0;
    }

    &__checkbox:checked+&__label &__switch {
        right: 19px;
    }
}