.onoffswitch
  input.onoffswitch-checkbox(type='checkbox', name='onoffswitch', checked='', id="myonoffswitch")
  label.onoffswitch-label(for='myonoffswitch')
    span.onoffswitch-inner
    span.onoffswitch-switch