@charset "UTF-8";
@font-face {
  font-family: 'Source Sans Pro';
  src: local("☺"), url("fonts/SourceSansPro-Regular.woff") format("woff"), url("fonts/SourceSansPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Lato';
  src: local("☺"), url("fonts/Lato-Regular.woff") format("woff"), url("fonts/Lato-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Lato';
  src: local("☺"), url("fonts/Lato-Light.woff") format("woff"), url("fonts/Lato-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Lato';
  src: local("☺"), url("fonts/Lato-Black.woff") format("woff"), url("fonts/Lato-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px; }

.stages {
  position: relative;
  width: 635px; }
  .stages__bar {
    position: absolute;
    left: 53%;
    top: 50%;
    width: 92%;
    height: 5px;
    background-color: #e5e5e5;
    transform: translate(-50%, -50%); }
  .stages__progress {
    background-color: #e75735;
    width: 0;
    height: 100%;
    transition: .3s ease-in-out; }
  .stages__steps {
    display: flex;
    justify-content: space-between;
    position: relative;
    counter-reset: myCounter; }
  .stages__step {
    position: relative;
    list-style: none; }
    .stages__step:hover {
      cursor: pointer; }
    .stages__step:before {
      display: block;
      content: counter(myCounter);
      counter-increment: myCounter;
      font-family: 'Lato';
      font-weight: normal;
      font-size: 14px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      text-align: center;
      color: #888888;
      background-color: #e5e5e5;
      transition: .3s ease-in-out;
      border: 4px solid transparent; }
    .stages__step.complated:before {
      background-color: #e75735;
      color: #fff; }
    .stages__step.active:before {
      background-color: #e75735;
      color: #fff; }

