@charset "UTF-8";
@font-face {
  font-family: 'Source Sans Pro';
  src: local("☺"), url("fonts/SourceSansPro-Regular.woff") format("woff"), url("fonts/SourceSansPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Lato';
  src: local("☺"), url("fonts/Lato-Regular.woff") format("woff"), url("fonts/Lato-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Lato';
  src: local("☺"), url("fonts/Lato-Light.woff") format("woff"), url("fonts/Lato-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Lato';
  src: local("☺"), url("fonts/Lato-Black.woff") format("woff"), url("fonts/Lato-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px; }

.location {
  display: flex;
  flex-direction: column; }
  .location__map {
    height: 204px;
    width: 593px;
    z-index: 1;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; }
  .location__menu {
    width: 593px;
    height: 69px;
    background-color: #e75735;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px; }
  .location__info {
    display: flex;
    align-items: center; }
  .location__header {
    color: #ffffff;
    font-size: 30px;
    font-family: 'Lato';
    font-weight: 300;
    margin: 0 25px 6px 28px; }
  .location__address {
    width: 139px;
    color: #ffffff;
    font-family: 'Lato';
    font-weight: 400;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 0.63px; }
  .location__mylocation-button {
    border: none;
    background: transparent;
    background-image: url(images/target.png);
    width: 27px;
    height: 26px; }
  .location__pin-button {
    border: none;
    background: transparent;
    background-image: url(images/pin.png);
    width: 18px;
    height: 24px;
    background-repeat: no-repeat;
    margin: 0 25px 0 22px; }

.gm-style-cc {
  display: none !important; }

.gm-style a[href^="https://maps.google.com/maps"] {
  display: none !important; }

