@charset "UTF-8";
@font-face {
  font-family: 'Source Sans Pro';
  src: local("☺"), url("fonts/SourceSansPro-Regular.woff") format("woff"), url("fonts/SourceSansPro-Regular.ttf") format("truetype"), url("fonts/SourceSansPro-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Source Sans Pro';
  src: url("fonts/SourceSansPro-Light.eot");
  src: local("☺"), url("fonts/SourceSansPro-Light.woff") format("woff"), url("fonts/SourceSansPro-Light.ttf") format("truetype"), url("fonts/SourceSansPro-Light.svg") format("svg");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Lato';
  src: local("☺"), url("fonts/Lato-Regular.woff") format("woff"), url("fonts/Lato-Regular.ttf") format("truetype"), url("fonts/Lato-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Lato';
  src: local("☺"), url("fonts/Lato-Light.woff") format("woff"), url("fonts/Lato-Light.ttf") format("truetype"), url("fonts/Lato-Light.svg") format("svg");
  font-weight: 300;
  font-style: normal; }

.body {
  margin: 0; }

.fade-left {
  animation-name: fade-left;
  animation-duration: 1s; }

@keyframes fade-left {
  0% {
    transform: translateX(-50px);
    opacity: .1; }
  to {
    transform: translateX(0px);
    opacity: 1; } }

.fade-bottom {
  animation-name: fade-bottom;
  animation-duration: 1s; }

@keyframes fade-bottom {
  0% {
    transform: translateY(50px);
    opacity: .1; }
  to {
    transform: translateY(0px);
    opacity: 1; } }

.hide {
  display: none; }

.show {
  display: block; }

.standart-button {
  min-width: 118px;
  height: 32px;
  border-radius: 3px;
  font-size: 12px;
  text-transform: uppercase;
  font-family: 'Lato';
  font-weight: normal;
  color: #45ac9d;
  background-color: #ffff;
  box-shadow: 0px 3px 0px 0px #28a290;
  border: 1px solid #4eb7a8;
  transition: all 0.2s ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  outline: none;
  letter-spacing: 0.6px;
  padding: 0 14px 0 14px;
  word-spacing: 3px;
  position: relative;
  overflow: hidden; }
  .standart-button:hover {
    color: #ffff;
    background-color: #4eb7a8; }
  .standart-button_color_tomato {
    color: #e75735;
    border: 1px solid #e75735;
    box-shadow: 0px 3px 0px 0px #e75735; }
    .standart-button_color_tomato:hover {
      background-color: #e75735;
      box-shadow: 0px 3px 0px 0px #bf3e1f; }
  .standart-button_color_green {
    color: #ffff;
    background-color: #4eb7a8; }
  .standart-button_size_s {
    min-width: 78px;
    height: 22px;
    font-size: 10px;
    letter-spacing: 0.5px;
    padding: 0 11px 0 11px;
    box-shadow: 0px 2px 0px 0px #28a290; }
  .standart-button_size_xl {
    min-width: 300px;
    height: 55px;
    font-size: 15px;
    letter-spacing: 0.5px;
    padding: 0 16px 0 16px;
    box-shadow: 0px 4px 0px 0px #28a290; }
  .standart-button_width_long {
    width: 100%; }
  .standart-button:active {
    transform: translate(0px, 5px);
    box-shadow: 0px 0px 0px 0px; }
  .standart-button__circle {
    position: absolute;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.377);
    width: 100px;
    height: 100px;
    transform: translate(-50%, -50%) scale(0);
    animation: scale 0.6s ease-out; }

@keyframes scale {
  to {
    transform: translate(-50%, -50%) scale(3);
    opacity: 0; } }

.news {
  width: 288px;
  height: 212px;
  background-color: #e75735;
  display: flex;
  border-radius: 4px; }
  .news_size_xl {
    width: 100%; }
  .news__photo {
    width: 95px;
    height: 212px; }
  .news__info {
    padding: 0 21px 0 21px; }
  .news__title {
    font-family: 'Lato';
    color: #ffffff;
    font-size: 28px;
    font-weight: 300;
    margin: 22px 0 0 0;
    line-height: 26px; }
  .news__date {
    color: #ffffff;
    font-family: 'Lato';
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.55px;
    word-spacing: 3px;
    margin: 12px 0 13px 0; }
  .news__text {
    font-family: 'Lato';
    font-size: 11px;
    color: #ffffff;
    letter-spacing: 0.55px;
    font-weight: 300;
    margin: 0;
    word-spacing: 1px; }

.user-profile {
  display: flex;
  justify-content: space-between;
  width: 267px; }
  .user-profile__photo {
    width: 84px;
    height: 84px;
    border-radius: 50%;
    border: 4px solid #e5e5e5; }
  .user-profile__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-color: #4eb7a8;
    width: 164px;
    height: 93px;
    border-radius: 8px;
    font-size: 10px;
    color: #fff;
    font-family: 'Lato';
    font-weight: normal;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    position: relative;
    transition: all 0.2s ease-in; }
    .user-profile__card::before {
      content: '';
      background-color: inherit;
      height: 9px;
      width: 9px;
      position: absolute;
      bottom: 43px;
      left: -4px;
      transform: rotate(45deg);
      border-radius: 30%; }
    .user-profile__card:hover {
      background-color: #e5e5e5; }
    .user-profile__card:hover .user-profile__title {
      color: #e75735; }
    .user-profile__card:hover .user-profile__icon {
      fill: #757575; }
    .user-profile__card:hover .user-profile__description {
      color: #4f4f4f; }
    .user-profile__card:hover .user-profile__image:hover .user-profile__icon {
      fill: #e75735; }
  .user-profile__info {
    width: 100%;
    height: 50%;
    margin-bottom: 2px; }
  .user-profile__title {
    font-size: 18px;
    font-family: 'Lato';
    font-weight: 400;
    text-transform: none;
    text-align: center;
    margin: 0;
    transition: all 0.2s ease-in; }
  .user-profile__description {
    text-align: center;
    font-size: 11px;
    margin: 0;
    font-family: 'Lato';
    font-weight: 400;
    transition: all 0.2s ease-in; }
  .user-profile__social {
    width: 73%;
    height: 30%;
    display: flex;
    justify-content: space-around; }
  .user-profile__icon {
    transition: all 0.2s ease-in; }

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 8vh;
  color: #fff;
  background-color: #e75735; }
  .navigation__inner {
    display: flex;
    margin: 0 2% 0 10%;
    padding: 20px 0; }
  .navigation__logo-text {
    vertical-align: middle;
    color: inherit;
    font-family: "Lato";
    font-weight: 400;
    font-size: 30px;
    text-transform: uppercase;
    margin: 0;
    padding: 0; }
  .navigation__items {
    margin: 0 9%;
    display: flex; }
  .navigation__item {
    color: inherit;
    font-size: 16px;
    font-family: "Lato";
    font-weight: 300;
    text-transform: uppercase;
    padding: 20px 0;
    text-decoration: none;
    display: block;
    margin: 0 30px;
    text-align: center;
    transition: all 0.3s ease-in;
    border: 1px solid transparent;
    position: relative;
    cursor: pointer; }
    .navigation__item:after {
      background-color: #4eb7a8;
      display: block;
      content: "";
      height: 3px;
      width: 0;
      left: 50%;
      bottom: 0;
      position: absolute;
      transition: width .3s ease-in-out;
      transform: translateX(-50%); }
    .navigation__item:hover:after {
      width: 100%; }

.home {
  height: 92vh;
  background-image: linear-gradient(to top, #c3371a, #ca3d1f, #d04324, #d74929, #de4f2e, #e15230, #e45433, #e75735, #e75735, #e75735, #e75735, #e75735); }
  .home__inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80vh;
    margin-top: 100px;
    max-width: 1550px;
    margin: auto; }
  .home__intro {
    width: 650px; }
  .home__title {
    font-size: 74px;
    font-family: "Lato";
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 4px;
    word-spacing: 10px;
    line-height: 1.1;
    margin: 0 0 25px 0; }
  .home__text {
    color: #fff;
    font-size: 22px;
    font-family: "Lato";
    font-weight: 300;
    margin: 0 0 50px 0; }
  .home__link {
    position: absolute;
    color: #fff;
    font-size: 16px;
    font-family: "Lato";
    font-weight: 300;
    text-transform: uppercase;
    transform: rotate(90deg);
    text-decoration: none;
    right: 9%;
    bottom: 10%; }

.about {
  height: 92vh;
  background-image: linear-gradient(to top, #b2b2b2, #bbbbbb, #c5c5c5, #cecece, #d8d8d8, #dcdcdc, #e1e1e1, #e5e5e5, #e5e5e5, #e5e5e5, #e5e5e5, #e5e5e5); }
  .about__inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80vh;
    max-width: 1200px;
    margin: auto; }
  .about__info {
    display: flex;
    width: 500px;
    flex-direction: column; }
  .about__title {
    font-size: 46px;
    font-family: "Lato";
    font-weight: 600;
    color: #4eb7a8;
    text-transform: uppercase;
    margin: 0 3% 40px 3%; }
  .about__text {
    font-size: 20px;
    font-family: "Source Sans Pro";
    font-weight: 300;
    margin: 0 2% 20px 2%; }
  .about__team {
    width: 400px; }
  .about__user-profile {
    margin: 0 0 30px 0; }

.portfolio {
  background-image: linear-gradient(to top, #b2b2b2, #bbbbbb, #c5c5c5, #cecece, #d8d8d8, #dcdcdc, #e1e1e1, #e5e5e5, #e5e5e5, #e5e5e5, #e5e5e5, #e5e5e5);
  height: 92vh; }
  .portfolio__inner {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
  .portfolio__items {
    display: grid;
    grid-gap: 20px;
    grid: repeat(3, 212px)/repeat(3, 288px);
    grid-auto-flow: row;
    margin: auto;
    grid-template-rows: 1fr 1fr 80px; }
  .portfolio__title {
    font-size: 46px;
    font-family: "Lato";
    font-weight: 600;
    color: #4eb7a8;
    text-transform: uppercase;
    margin: 50px 0 30px 0; }
  .portfolio__news {
    grid-column: 2/4;
    grid-row: 1; }
  .portfolio__standart-button {
    grid-column: 2/4;
    grid-row: 3;
    align-self: flex-start; }

.contacts {
  background-image: linear-gradient(to top, #b2b2b2, #bbbbbb, #c5c5c5, #cecece, #d8d8d8, #dcdcdc, #e1e1e1, #e5e5e5, #e5e5e5, #e5e5e5, #e5e5e5, #e5e5e5);
  height: 92vh; }

