doctype
html(lang="en" class="document")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title CV
    body.body
     include ./components/arrow-buttons/arrow-buttons.pug
     include ./components/standart-button/standart-button.pug
     include ./components/pie-chart/pie-chart.pug
     include ./components/donut-chart/donut-chart.pug

   
	

    
