doctype
html(lang="en" class="document")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title UI-KIT
    body.body
     include ./components/video-frame/video-frame.pug
    //-  script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCqaXIy1MsATyZn0sAKMvtIihMIDmx_L3M&callback=initMap" async defer)
    
    

     
     
    
     

   
	 

    
