@font-face {
    font-family: 'Source Sans Pro';
    src: local('☺'),
        url('fonts/SourceSansPro-Regular.woff') format('woff'),
        url('fonts/SourceSansPro-Regular.ttf') format('truetype'),
        url('fonts/SourceSansPro-Regular.svg') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('fonts/SourceSansPro-Light.eot');
    src: local('☺'),
        url('fonts/SourceSansPro-Light.woff') format('woff'),
        url('fonts/SourceSansPro-Light.ttf') format('truetype'),
        url('fonts/SourceSansPro-Light.svg') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: local('☺'),
        url('fonts/Lato-Regular.woff') format('woff'),
        url('fonts/Lato-Regular.ttf') format('truetype'),
        url('fonts/Lato-Regular.svg') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: local('☺'),
        url('fonts/Lato-Light.woff') format('woff'),
        url('fonts/Lato-Light.ttf') format('truetype'),
        url('fonts/Lato-Light.svg') format('svg');
    font-weight: 300;
    font-style: normal;
}

@import './components/body/body.scss';
@import './components/page-animation/page-animation.scss';
@import './components/standart-button/standart-button.scss';
@import './components/user-profile/user-profile.scss';
@import './components/navigation/navigation.scss';
@import './components/home/home.scss';
@import './components/about/about.scss';
@import './components/portfolio/portfolio.scss';
@import './components/contacts/contacts.scss';

