.fade-left {
    animation-name: fade-left;
    animation-duration: 1s;
}

@keyframes fade-left {
    0% {
        transform: translateX(-50px);
        opacity: .1
    }

    to {
        transform: translateX(0px);
        opacity: 1
    }
}

.fade-bottom {
    animation-name: fade-bottom;
    animation-duration: 1s;
}

@keyframes fade-bottom {
    0% {
        transform: translateY(50px);
        opacity: .1
    }

    to {
        transform: translateY(0px);
        opacity: 1
    }
}